p{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(80, 83, 255);}
h3{
    color: black;
}
.jojo{color: deeppink;
background-color: rgb(19, 16, 3);}
#chag{color: rgb(0, 255, 85);
background-color: rgb(58, 17, 155);}
.pop{
    border: 2px chocolate;

}